#RefreshHeader .header-navigation-level--lg_content-title {
    margin-bottom: 0;
}

.product_history_wrapper {
    width: 100%;
    min-height: 150px;
    background-color: #f5f5f5;
}

.product_history_banner {
    margin: 0 auto;
    position: relative;
    min-height: 150px;
}

.product_history_banner .main_title {
    font-size: 14px;
    font-family: futura-w01-heavy, Helvetica, Arial, sans-serif;
    color: #3a3a3a;
    padding-left: 5px;
    margin-bottom: 5px;
}

.product_history_banner .img-section:before {
    content: " ";
    display: table;
}

.product_history_banner .img-section:after {
    content: " ";
    display: table;
    clear: both;
}

.product_history_banner .product-img {
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}

.product_history_banner .product-img a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.product_history_banner .product-img img {
    height: auto;
    width: 100%;
}

.product_history_banner .product-img .product-desc {
    min-height: 35px;
    background-color: #0b5257;
    position: absolute;
    bottom:0;
    left:5px;
    right:5px;
    font-family: futura-w01-medium, Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
    padding:4px;
}

    #RefreshHeader .product_history_wrapper {
        padding: 0 15px;
        min-height: 150px;
        background-color: inherit;
    }
    
    #RefreshHeader .product_history_banner {
        margin: 0 auto;
        position: relative;
        min-height: 150px;
        border-bottom: 1px solid #333;
    }
    
    #RefreshHeader .product_history_banner .main_title {
        font-size: 14px;
        font-family: 'Futura W01',sans-serif;
        font-weight: normal;
        color: #ffffff;
        padding-left: 4px;
        margin-bottom: 5px;
    }
    
    .product_history_banner .img-section:before {
        content: " ";
        display: table;
    }
    
    .product_history_banner .img-section:after {
        content: " ";
        display: table;
        clear: both;
    }
    
    #RefreshHeader .product_history_banner .product-img {
        width: 25%;
        position: relative;
        min-height: 1px;
        padding-left: 4px;
        padding-right: 4px;
        float: left;
    }
    
    #RefreshHeader .product_history_banner .product-img a {
        display: block;
        color: #ffffff;
        text-decoration: none;
    }
    
    #RefreshHeader .product_history_banner .product-img img {
        height: auto;
        width: 100%;
        border-radius: 2px;
    }
    
    #RefreshHeader .product_history_banner .product-img p.product-desc {
        min-height: 35px;
        padding:4px;
        background-color: inherit;
        position: static;
        font-family: futura-w01-medium, Helvetica, Arial, sans-serif;
        font-size: 13px;
        text-align: center;
        line-height: 1.2;
    }

@media (min-width: 561px) {
    #RefreshHeader .product_history_banner .main_title {
        margin-bottom: 0;
    }
  
    #RefreshHeader .product_history_banner .product-img {
        padding-top: 10px;
        width: 50%;
    }
  
    #RefreshHeader .product_history_banner .product-img img {
        display: inline-block;
        height: 40px;
        width: 40px;
    }
  
    #RefreshHeader .product_history_banner .product-img p.product-desc {
        display: inline-block;
        vertical-align: top;
        width: 65%;
        text-align: left;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 8px;
    }
  
    #RefreshHeader .product_history_banner{
        padding-bottom: 12px;
    }
}

@media (max-width: 560px) {
    #RefreshHeader .product_history_banner .product-img p.product-desc {
        font-size: 12px;
        background: #05404D;
    }
  
    #RefreshHeader .product_history_banner .product-img .small_desc_pad,
    .product_history_banner .product-img .small_desc_pad {
      	padding-top: 8px !important;
    }
  
    #RefreshHeader .product_history_banner .product-img .small_fontsize,
    .product_history_banner .product-img .small_fontsize{
      	font-size: 9px !important;
    }
  
    #RefreshHeader  .product_history_banner .product-img .xt_small_fontsize, 
    .product_history_banner .product-img .xt_small_fontsize {
      	font-size: 8px !important;
    }

    #RefreshHeader .product_history_banner .main_title {
        color: #222;
        font-weight: bold;
    }
  
    #RefreshHeader .product_history_wrapper{
      	background-color: #F8F6F8;
    }
  
    #RefreshHeader .product_history_banner {
      	border-bottom: none;
    }
  
    #RefreshHeader .product_history_banner .product-img a,
    .product_history_banner .product-img a {
        height: 100px;
    }
    #RefreshHeader .product_history_banner .product-img img,
    .product_history_banner .product-img img {
        height: 65px;
    }
}