optly-preview.optly-is-collapsed {
    display: none;
}

.bun051 .time_day_personalisation_b51 {
    background: #0d5257;
    min-height: 117px;
    max-height: 117px;
    color: #fff;
    margin-bottom: 36px;
}

.bun051 .time_day_banner_b51 {
    height: 117px;
}

.bun051 .time_day_personalisation_b51 .click_collect_icon_b51 {
    display: inline-block;
    /*padding: 20px 0 0 20px;*/
    padding: 20px 0 0 0px;
    float: left;
    width: auto;
}

.bun051 .time_day_personalisation_b51 .text_section_b51 {
    display: inline-block;
    width: 84%;
    margin-left: 20px;
}

.bun051 .time_day_personalisation_b51 .icon_text_section_b51{
    width: 65%;
    display: inline-block;
}

.bun051 .time_day_personalisation_b51 .hour_left_text_b51 {
    width: 60%;
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
    padding-top: 20px;
}

.bun051 .time_day_personalisation_b51 .hour_left_text_b51 p {
    font-size: 38px;
    font-family: "Helvetica";
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 1px;
    margin: 0;
}

.bun051 .time_day_personalisation_b51 .sub_text_click_b51 {
    width: 28%;
    display: inline-block;
    padding-top: 18px;
    font-family: "Helvetica";
    font-weight: normal;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    float: right;
}

.bun051 .time_day_personalisation_b51 .sub_text_click_b51 .free_click_section_b51 a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.bun051 .time_day_personalisation_b51 .sub_text_click_b51 .order_section_b51 {
    margin-top: 8px;
}

.bun051 .time_day_personalisation_b51 .smile_person_b51 {
    width: 13%;
    display: inline-block;
    float: right;
}

.bun051 .time_day_personalisation_b51 .smile_person_b51 .smile_person_mbl_img{
    display: none;
}

.bun051 .time_day_personalisation_b51 .smile_person_b51 img {
    float: right;
}

@media (max-width: 559px) {
    .bun051 .time_day_personalisation_b51 {
        min-height: 170px;
        max-height: 170px;
        margin: 0 10px;
    }
  
    .bun051 .time_day_banner_b51 {
        height: 200px;
    }
  
    .bun051 .time_day_banner_b51 .b51_inner_section {
        position: relative;
    }
  
    .bun051 .time_day_personalisation_b51 .icon_text_section_b51{
        width: 100%;
    }
    .bun051 .time_day_personalisation_b51 .sub_text_click_b51{
        width: 95%;
        padding-top: 10px;
        float: left;
    }
  
    .bun051 .time_day_personalisation_b51 .smile_person_b51 .smile_person_desktop_img{
        display: none;
    }
  
    .bun051 .time_day_personalisation_b51 .text_section_b51{
        width: 100%;
        margin-left: 16px;
    }
  
    .bun051 .time_day_personalisation_b51 .hour_left_text_b51 {
        width: 75%;
        margin-left: 10px;
    }
  
    .bun051 .time_day_personalisation_b51 .hour_left_text_b51 p {
        font-size: 24px;
    }
  
    .bun051 .time_day_personalisation_b51 .smile_person_b51{
        width: auto;
        position: absolute;
        right: 0;
        top: 0;
    }
}