.heading-layout, .fixed-layout, .js-workshop {
    display: none !important;
}

.bun072 .diy_discoverability_bun72 {
    background: #FBFBFB;
    overflow: hidden;
}

.bun072 .diy_discoverability_bun72 .page_icon_bun72 {
    width: 960px;
    margin: 22px auto 20px;
}

.bun072 .diy_discoverability_bun72 .home_icon_bun72 {
    width: 14px;
}

.bun072 .diy_discoverability_bun72 .page_icon_bun72 .icon_arrow_bun72 {
    padding: 0 10px;
    vertical-align: middle;
}

.bun072 .diy_discoverability_bun72 .running_page_text_bun72 {
    vertical-align: middle;
    color: #7A7A7A;
}

.bun072 .diy_discoverability_bun72 .main_banner_section_bun72 {
    margin: 0 auto;
    position: relative;
}

.bun072 .diy_discoverability_bun72 .main_banner_section_bun72 .banner_72 {
    width: 100%;
    height: 395px;
}

.bun072 .diy_discoverability_bun72 .advice_hub_main_bun72 {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.bun072 .diy_discoverability_bun72 .advice_hub_sec_72 {
    background: #ca2114;
    color: #fff;
    width: 265px;
    padding: 64px 20px 64px 40px;
    border-radius: 4px;
    position: absolute;
    top: -360px;
}

.bun072 .diy_discoverability_bun72 .advice_hub_title_72 {
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 26px;
}

.bun072 .diy_discoverability_bun72 .advice_hub_subtitle_72 {
    font-size: 20px;
    line-height: 1.3;
    width: 95%;
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_now_text_bun72 {
    padding: 80px 0 34px;
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_now_text_bun72 span {
    color: #DA291C;
    font-size: 32px;
    font-family: 'Futura W01 Heavy', sans-serif;
    line-height: 44px;
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 {
    
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 .desc_1_72,
.bun072 .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 .desc_2_72,
.bun072 .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 .desc_3_72 {
    display: inline-block;
    width: 32%;
    padding: 6px 0;
    overflow: hidden;
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 .desc_2_72 {
    padding: 6px 18px;
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_img_sec_bun72 {
    width: 304px;
    height: 304px;
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_img_sec_bun72 img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_dtl_sec_bun72 {
    background: #DA291C;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 12px 0 12px 24px;
    width: 280px;
    margin: 16px 0 0;
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_dtl_text_bun72 {
    width: 70%;
    display: inline-block;
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .desc_2_72 .trending_dtl_text_bun72 {
    padding: 11px 0 10px;
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_dtl_arrow_bun72 {
    width: 14%;
    display: inline-block;
    float: right;
}

.bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_dtl_arrow_bun72 .shop_button_chevron {
    color: #fff;
    width: 14px;
    height: 40px;
}

/*Feature Topic*/
.bun072 .diy_discoverability_bun72 .feature_topic_section_bun72 {
    width: 960px;
    margin: 40px auto 0;
}

.bun072 .diy_discoverability_bun72 .feature_topic_text_bun72 {
    padding: 40px 0 34px;
}

.bun072 .diy_discoverability_bun72 .feature_topic_text_bun72 span {
    color: #DA291C;
    font-size: 32px;
    font-family: 'Futura W01 Heavy', sans-serif;
    line-height: 44px;
}

.bun072 .diy_discoverability_bun72 .feature_topic_desc_bun72 {
}

.bun072 .diy_discoverability_bun72 .feature_topic_desc_bun72 .feature_1_72,
.bun072 .diy_discoverability_bun72 .feature_topic_desc_bun72 .feature_2_72,
.bun072 .diy_discoverability_bun72 .feature_topic_desc_bun72 .feature_3_72 {
    display: inline-block;
    width: 32%;
    padding: 6px 0;
}

.bun072 .diy_discoverability_bun72 .feature_topic_desc_bun72 .feature_2_72{
    padding: 6px 18px;
}

.bun072 .diy_discoverability_bun72 .feature_topic_img_sec_bun72 {
    width: 307px;
}

.bun072 .diy_discoverability_bun72 .feature_topic_img_sec_bun72 img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bun072 .diy_discoverability_bun72 .feature_topic_img_sec_bun72 .feature_topic_img_mbl_72 {
    display: none;
}

.bun072 .diy_discoverability_bun72 .feature_topic_dtl_sec_bun72 {
    padding: 28px 34px 24px 24px;
    background: #fff;
}

.bun072 .diy_discoverability_bun72 .feature_topic_dtl_text_bun72 {
    font-size: 16px;
    font-weight: bold;
    color: #DA291C;
}

.bun072 .diy_discoverability_bun72 .feature_topic_dtl_subtext_bun72 {
    font-size: 14px;
    color: #222;
}

.bun072 .diy_discoverability_bun72 .feature_topic_title {
    height: 44px;
    margin-bottom: 8px;
}

.bun072 .diy_discoverability_bun72 .curated_content_row_title_left_72 span {
    color: #222;
    font-size: 26px;
    font-family: 'Futura W01 Heavy', sans-serif;
    line-height: 36px;
}

.bun072 .diy_discoverability_bun72 .curated_content_text_bun72 {
    padding: 40px 0 68px;
}

.bun072 .diy_discoverability_bun72 .curated_content_img_sec_bun72 img {
    width: 100%;
    height: 139px;
    border-radius: 4px;
}

.bun072 .diy_discoverability_bun72 .curated_content_text_bun72 span {
    color: #DA291C;
    font-size: 32px;
    font-family: 'Futura W01 Heavy', sans-serif;
    line-height: 44px;
}

.bun072 .diy_discoverability_bun72 .curated_content_row_title_left_72 {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    padding: 40px 0;
}

.bun072 .diy_discoverability_bun72 .curated_content_1_inner_72 {
    display: inline-block;
    width: 78%;
    text-align: right;
    position: relative;
}

.bun072 .diy_discoverability_bun72 .curated_content_inner_sec_72 {
    display: inline-block;
    width: 30%;
    text-align: center;
    height: 300px;
    overflow: hidden;
    padding: 6px 12px;
}

.bun072 .diy_discoverability_bun72 .curated_content_inner_1_sec_72,
.bun072 .diy_discoverability_bun72 .curated_content_inner_2_sec_72,
.bun072 .diy_discoverability_bun72 .curated_content_inner_3_sec_72 {
    display: inline-block;
    width: 222px;
    text-align: center;
    height: 310px;
    overflow: hidden;
    padding: 6px 0px;
}

.bun072 .diy_discoverability_bun72 .curated_content_inner_2_sec_72 {
    padding: 6px 22px;
}

.bun072 .diy_discoverability_bun72 .curated_content_dtl_sec_bun72 {
    padding: 16px 0 10px 0;
    text-align: left;
}

.bun072 .diy_discoverability_bun72 .curated_content_dtl_sec_bun72  .curated_content_title {
    min-height: 40px;
    padding-bottom: 6px;
}

.bun072 .diy_discoverability_bun72 .curated_content_dtl_sec_bun72  .curated_content_subtitle {
    width: 218px;
    color: #222;
}

.bun072 .diy_discoverability_bun72 .curated_content_dtl_text_bun72 {
    font-size: 16px;
    font-weight: bold;
    color: #DA291C;
}

.bun072 .diy_discoverability_bun72 .curated_content_dtl_subtext_bun72 {
    font-size: 14px;
}
		 
.bun072 .diy_discoverability_bun72 .bun72_idea_img_mbl {
    display: none;
}

.bun072 .diy_discoverability_bun72 .explore_by_space_text_bun72 {
    padding: 20px 0 4px;
}

.bun072 .diy_discoverability_bun72 .explore_by_space_text_bun72 span {
    color: #DA291C;
    font-size: 32px;
    font-family: 'Futura W01 Heavy', sans-serif;
    line-height: 44px;
}

.bun072 .diy_discoverability_bun72 .explore_by_space_row {
    padding: 26px 0 4px;
}

.bun072 .diy_discoverability_bun72 .explore_space_1_72,
.bun072 .diy_discoverability_bun72 .explore_space_2_72,
.bun072 .diy_discoverability_bun72 .explore_space_3_72,
.bun072 .diy_discoverability_bun72 .explore_space_4_72 {
    display: inline-block;
    width: 23.5%;
    padding: 6px 0;
}

.bun072 .diy_discoverability_bun72 .explore_space_2_72 {
    padding: 6px 10px;
    padding-left: 18px;
}

.bun072 .diy_discoverability_bun72 .explore_space_3_72 {
    padding: 6px 10px;
    padding-right: 18px;
}

.bun072 .diy_discoverability_bun72 .explore_space_img_sec_bun72 img {
    width: 100%;
}

.bun072 .diy_discoverability_bun72 .explore_space_dtl_sec_bun72 {
    background: #DA291C;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    margin: 16px 0 0;
}

.bun072 .diy_discoverability_bun72 .explore_space_dtl_text_bun72 {
    width: 70%;
    display: inline-block;
    padding: 14px 0 12px 24px;
}

.bun072 .diy_discoverability_bun72 .explore_space_arrow_bun72 {
    width: 14%;
    display: inline-block;
    float: right;
    padding: 8px 0;
}

.bun072 .diy_discoverability_bun72 .explore_space_arrow_bun72 .shop_button_chevron {
    color: #fff;
    width: 14px;
    height: 30px;
}

.bun072 .diy_discoverability_bun72 .magazine_feature_text_bun72 {
    padding: 40px 0 34px;
}

.bun072 .diy_discoverability_bun72 .magazine_feature_text_bun72 span {
    color: #DA291C;
    font-size: 32px;
    font-family: 'Futura W01 Heavy', sans-serif;
    line-height: 44px;
}

.bun072 .diy_discoverability_bun72 .magazine_feature_desc_1_72,
.bun072 .diy_discoverability_bun72 .magazine_feature_desc_2_72,
.bun072 .diy_discoverability_bun72 .magazine_feature_desc_3_72 {
    display: inline-block;
    width: 32%;
    padding: 6px 0;
}

.bun072 .diy_discoverability_bun72 .magazine_feature_img_sec_bun72 {
    width: 304px;
    height: 304px;
}

.bun072 .diy_discoverability_bun72 .magazine_feature_img_sec_bun72 img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}


.bun072 .diy_discoverability_bun72 .magazine_feature_desc_2_72 {
    padding: 6px 18px;
}

.bun072 .diy_discoverability_bun72 .magazine_feature_dtl_sec_bun72 {
    background: #DA291C;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 12px 0 12px 24px;
    width: auto;
    margin: 16px 0 0;
}

.bun072 .diy_discoverability_bun72 .magazine_feature_dtl_text_bun72 {
    width: 75%;
    display: inline-block;
}

.bun072 .diy_discoverability_bun72 .magazine_feature_dtl_arrow_bun72 {
    width: 14%;
    display: inline-block;
    float: right;
}

.bun072 .diy_discoverability_bun72 .magazine_feature_dtl_arrow_bun72 .shop_button_chevron {
    color: #fff;
    width: 14px;
    height: 40px;
}

.bun072 .diy_discoverability_bun72 .main_banner_section_mbl_bun72,
.bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 {
    display: none;
}

@media (max-width: 559px) {
    optly-preview.optly-is-collapsed optly-wrap {
      	display: none;
    }
  
    .breadcrumbs, .collection-item-summary, .content-catalogue, .before-after, .page-title--secondary {
    		display: none !important;
    }
  
    .bun072 .diy_discoverability_bun72 {
        margin: 0 4px;
    }

		.bun072 .diy_discoverability_bun72 .main_banner_section_bun72 {
    		display: none;
		}

		.bun072 .diy_discoverability_bun72 .main_banner_section_mbl_bun72 {
    		display: block;
        position: relative;
		}

    .bun072 .diy_discoverability_bun72 .main_banner_section_mbl_bun72 .banner_72 {
        height: 291px;
        width: 100%;
    }

    .bun072 .diy_discoverability_bun72 .advice_hub_main_bun72 {
        display: none;
    }

    .bun072 .diy_discoverability_bun72 .advice_hub_sec_72 {
        background: #ca2114;
        color: #fff;
        width: 75%;
        margin: 0 auto;
        padding: 26px 20px;
        position: absolute;
        left: 50px;
   		  top: 40%;
    }
	
    .bun072 .diy_discoverability_bun72 .advice_hub_title_72 {
        font-size: 32px;
    }
	
    .bun072 .diy_discoverability_bun72 .advice_hub_subtitle_72 {
        font-size: 18px;
        margin-top: 26px;
        padding-right: 6px;
        font-weight: bold;
    }
	
    .bun072 .diy_discoverability_bun72 .advice_hub_subtitle_72 span {
        line-height: 1.5;
    }

		.bun072 .diy_discoverability_bun72 .main_banner_section_mbl_bun72 .advice_hub_72 {
        position: absolute;
        top: 174px;
        left: 16px;
		}

		/*Trending Now*/
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 {
    		width: 100%;
      	margin: 80px auto 0;
    }
  
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_now_text_bun72 {
        padding: 20px 8px 20px;
        background: #fff;
    }
  
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_now_text_bun72 span {
        font-size: 24px;
        font-weight: bold;
    }
  
  	.bun072 .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
		}
  
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 a {
        display: inline-block;
    }
  
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 .desc_1_72,
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 .desc_2_72,
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 .desc_3_72 {
    		width: 196px;
    		padding: 6px 8px;
    }
  
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_img_sec_bun72 {
        width: 100%;
    		height: 196px;
    }
  
  	.bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_dtl_sec_bun72 {
        width: 100%;
        padding: 6px 0 6px 12px;
        height: 48px;
  	}
  
  	.bun072 .diy_discoverability_bun72 .trending_section_bun72 .desc_2_72 .trending_dtl_sec_bun72 {
        padding: 14px 0 14px 12px;
  	}
  
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_dtl_text_bun72 {
        font-size: 12px;
        width: 80%;
        white-space: normal;
        line-height: 1.5;
    }
  
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_dtl_arrow_bun72 {
        width: 14px;
        display: inline-block;
        float: right;
   		  margin-right: 14px;
   		  margin-top: 6px;
    }
  
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .desc_2_72 .trending_dtl_arrow_bun72 {
   		  margin-top: -2px;
    }
  
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_dtl_arrow_bun72 .shop_button_chevron {
        color: #fff;
        width: 14px;
        height: 24px;
    }
  
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .desc_2_72 .trending_dtl_text_bun72 {
      	padding: 0;
 	  }
	
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 button,
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 ul {
        display: none !important;
    }
  
    /*Get Ready for Summer / Feature topic*/
    .bun072 .diy_discoverability_bun72 .feature_topic_section_bun72 {
      	width: 100%;
        padding: 0 5px;
    }
    .bun072 .diy_discoverability_bun72 .feature_topic_text_bun72 {
      	padding: 20px 0 20px;
        background: #FBFBFB;
    }
  
    .bun072 .diy_discoverability_bun72 .feature_topic_text_bun72 span {
      	font-size: 24px;
        font-weight: bold;
    }

    .bun072 .diy_discoverability_bun72 .feature_topic_desc_bun72 .feature_1_72,
    .bun072 .diy_discoverability_bun72 .feature_topic_desc_bun72 .feature_2_72,
    .bun072 .diy_discoverability_bun72 .feature_topic_desc_bun72 .feature_3_72 {
        display: block;
        width: 100%;
        padding: 6px 0;
    }

    .bun072 .diy_discoverability_bun72 .feature_topic_img_sec_bun72 {
        width: 30%;
        height: 114px;
        display: inline-block;
    }

    .bun072 .diy_discoverability_bun72 .feature_topic_img_sec_bun72 img {
        width: 100px;
        height: 100%;
    }

    .bun072 .diy_discoverability_bun72 .feature_topic_img_sec_bun72 .feature_topic_img_desktop_72 {
        display: none;
    }

    .bun072 .diy_discoverability_bun72 .feature_topic_img_sec_bun72 .feature_topic_img_mbl_72 {
        display: block;
    }

    .bun072 .diy_discoverability_bun72 .feature_topic_dtl_sec_bun72 {
        padding: 0px 6px 0px 6px;
        background: #fff;
        display: inline-block;
        width: 70%;
        vertical-align: top;
    }

    /*In this month's Bunnings Magazine*/
    .bun072 .diy_discoverability_bun72 .magazine_feature_sec_bun72 {
        width: 100%;
        margin: 10px auto 0;
		}
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_text_bun72 {
        padding: 20px 5px 20px;
        background: #fff;
    }
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_text_bun72 span {
        font-size: 24px;
        font-weight: bold;
    }

    .bun072 .diy_discoverability_bun72 .magazine_feature_desc_bun72 {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .bun072 .diy_discoverability_bun72 .magazine_feature_desc_bun72 a {
        display: inline-block;
    }
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_desc_1_72,
    .bun072 .diy_discoverability_bun72 .magazine_feature_desc_2_72,
    .bun072 .diy_discoverability_bun72 .magazine_feature_desc_3_72 {
        width: 196px;
        padding: 6px 8px;
    }
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_img_sec_bun72 {
        width: 100%;
        height: 196px;
    }
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_img_sec_bun72 img {
        width: 100%;
        height: 100%;
    }
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_dtl_sec_bun72 {
        width: 100%;
        padding: 6px 0 6px 12px;
        position: relative;
    }
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_dtl_text_bun72 {
        font-size: 12px;
        width: 90%;
        white-space: normal;
        line-height: 1.5;
    }
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_dtl_arrow_bun72 {
        width: 14px;
        display: inline-block;
        margin-top: 6px;
        position: absolute;
        right: 6px;
    }
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_dtl_arrow_bun72 .shop_button_chevron {
        color: #fff;
        width: 14px;
        height: 24px;
    }
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_sec_bun72 button,
    .bun072 .diy_discoverability_bun72 .magazine_feature_sec_bun72 ul {
        display: none !important;
    }

    /*Transform your home*/
    .bun072 .diy_discoverability_bun72 .curated_content_section_bun72 {
        width: 100%;
        margin: 10px auto 0;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_text_bun72 {
        padding: 20px 5px 20px;
        background: #fff;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_text_bun72 span {
        font-size: 24px;
        font-weight: bold;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_row_title_left_72 {
        width: 100%;
        padding: 0px 5px 10px;
        background: #FBFBFB;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_row_title_left_72 span {
        font-size: 20px;
        font-weight: bold;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_1_inner_72 {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    background: #fff;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_inner_1_sec_72,
    .bun072 .diy_discoverability_bun72 .curated_content_inner_2_sec_72,
    .bun072 .diy_discoverability_bun72 .curated_content_inner_3_sec_72 {
        white-space: normal;
        width: 158px;
        padding: 6px;
        height: 370px;
    }

    .bun072 .diy_discoverability_bun72 .curated_content_dtl_sec_bun72 .curated_content_title {
        height: 50px;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_img_sec_bun72 img {
        height: 158px;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_dtl_text_bun72 {
        font-size: 14px;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_dtl_sec_bun72 .curated_content_subtitle {
        width: 100%;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_row_72 {
        background: #fbfbfb;
    }
		 
    .bun072 .diy_discoverability_bun72 .bun72_idea_img_desktop {
        display: none;
    }

    .bun072 .diy_discoverability_bun72 .bun72_idea_img_mbl {
          display: block;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_desc_bun72 button,
    .bun072 .diy_discoverability_bun72 .curated_content_desc_bun72 ul {
        display: none !important;
    }

    /*Explore by Space*/
    .bun072 .diy_discoverability_bun72 .explore_by_space_bun72 {
        display: none;
    }
  
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 {
        display: block;
    }

    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 {
        width: 100%;
        margin: 10px auto 0;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 .explore_by_space_text_bun72 {
        padding: 0 6px;
    background: #fff;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 .explore_by_space_text_bun72 span{
        font-size: 24px;
        font-weight: bold;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72  .explore_by_space_row {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 0px 0 10px;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72  .explore_by_space_row a {
        display: inline-block;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 .explore_space_1_72,
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 .explore_space_2_72,
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 .explore_space_3_72,
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 .explore_space_4_72 {
        width: 152px;
        padding: 0 6px 6px;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 .explore_space_img_sec_bun72 img {
        height: 210px;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 .explore_space_dtl_text_bun72 {
        padding: 10px 0 10px 12px;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 .explore_space_arrow_bun72 {
        padding: 12px 0;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_mobile_bun72 .explore_space_arrow_bun72 .shop_button_chevron {
        height: 16px;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_row button,
    .bun072 .diy_discoverability_bun72 .explore_by_space_row ul {
        display: none !important;
    }

    /*Safari*/
    .safari .diy_discoverability_bun72 .curated_content_dtl_sec_bun72 .curated_content_title {
        height: 60px;
    }

    .safari .diy_discoverability_bun72 .curated_content_row_72:nth-child(2) .curated_content_dtl_sec_bun72 .curated_content_title {
        height: 40px;
    }
		
    .safari .diy_discoverability_bun72 .advice_hub_sec_72 {
        width: 80%;
        left: 40px;
    }
}
  
/*Safari*/
.safari .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 .desc_1_72,
.safari .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 .desc_2_72,
.safari .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 .desc_3_72 {
    vertical-align: top;
}
	
.safari .diy_discoverability_bun72 .curated_content_inner_1_sec_72,
.safari .diy_discoverability_bun72 .curated_content_inner_2_sec_72,
.safari .diy_discoverability_bun72 .curated_content_inner_3_sec_72 {
    vertical-align: top;
}

.bun072 .diy_discoverability_bun72 .feature_topic_desc_bun72 .feature_1_72,
.bun072 .diy_discoverability_bun72 .feature_topic_desc_bun72 .feature_2_72,
.bun072 .diy_discoverability_bun72 .feature_topic_desc_bun72 .feature_3_72 {
    vertical-align: top;
}


@media (min-width: 559px) {
    /*Trending Now*/
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_now_text_bun72 {
        background: #FFF;
        padding-bottom: 150px;
    }
	
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .trending_now_text_bun72 div {
        width: 960px;
        margin: 0 auto;
    }
	
    .bun072 .diy_discoverability_bun72 .trending_section_bun72 .teending_desc_bun72 {
        width: 960px;
        margin: 0 auto;
        margin-top: -116px;
    }


    /*In this month's Bunnings Magazine*/
    .bun072 .diy_discoverability_bun72 .magazine_feature_sec_bun72 {
        background: #fff;
        margin-top: 18px;
    }
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_text_bun72 {
        width: 960px;
        margin: 0 auto;
    }
	
    .bun072 .diy_discoverability_bun72 .magazine_feature_desc_bun72 {
        width: 960px;
        margin: 0 auto;
    }
  
    /*Transform your home*/
    .bun072 .diy_discoverability_bun72 .curated_content_section_bun72 {
        margin-top: 72px;
        position: relative;
	  }
	
    .bun072 .diy_discoverability_bun72 .curated_content_text_bun72 {
        background: #fff;
        padding: 30px 0 56px;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_text_bun72 div {
        width: 960px;
        margin: 40px auto 0;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_desc_bun72 {
        width: 960px;
        margin: 0 auto;
    }
	
    .bun072 .diy_discoverability_bun72 .curated_content_row_72 {
        background: #fff;
        position: relative;
    }

    .bun072 .diy_discoverability_bun72 .curated_content_row_title_left_72 {
   		 background: #fbfbfb;
    }

    .bun072 .diy_discoverability_bun72 .curated_content_1_inner_72 {
        margin-top: 12px;
    }
		
    .bun072 .diy_discoverability_bun72 .curated_content_background_1_bun72 {
        background: #FFFFFF;
        width: 100%;
        height: 224px;
        position: absolute;
        top: 286px;
    }
		
    .bun072 .diy_discoverability_bun72 .curated_content_background_2_bun72 {
        background: #fff;
        width: 100%;
        height: 188px;
        position: absolute;
        top: 662px;
    }
		
    .bun072 .diy_discoverability_bun72 .curated_content_background_3_bun72 {
        background: #fff;
        width: 100%;
        height: 190px;
        position: absolute;
        top: 1002px;
    }
		
    .bun072 .diy_discoverability_bun72 .idea_back_bun72 {
        position: absolute;
        background: #fbfbfb;
        width: 15%;
        height: 116px;
        top: 0;
        left: 210px;
    }
		
    .bun072 .diy_discoverability_bun72 .curated_content_row_72:nth-child(2) .idea_back_bun72,
    .bun072 .diy_discoverability_bun72 .curated_content_row_72:nth-child(3) .idea_back_bun72 {
        height: 152px;
    }
	
    .bun072 .diy_discoverability_bun72 .transform_home_right_back {
        position: absolute;
        background: #fff;
        width: 30%;
        height: 900px;
        right: 0;
    }

    /*Explore by Space*/
    .bun072 .diy_discoverability_bun72 .explore_by_space_bun72 {
        background: #fff;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_text_bun72 {
        width: 960px;
        margin: 0 auto;
    }
	
    .bun072 .diy_discoverability_bun72 .explore_by_space_body_bun72 {
        width: 960px;
        margin: 0 auto;
    }
}









